<html>

<head>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <div>
        <hr>
        <h1>
            About
        </h1>
        <hr>
        <%- include('partial/navigation_bar.ejs') %>
        <h2>Wrap-up project after learning some node js.<br>
            Followed The Net Ninja - Node JS Tutorial for Beginners at <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9gcy9lrvMJ75z9maRw4byYp"> this playlist</a>
        </h2>
    </div>


</body>

</html>