<html>

<head>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <div>
        <hr>
        <h1>
            Posts
        </h1>
        <hr>
        <%- include('partial/navigation_bar.ejs') %>
        <h2>Post new post or just read some posts for your enjoyment.</h2>
    </div>

</body>

</html>