<html>

<head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include("partials/nav") %>
    <h1>This is home</h1>
    <p>Feel like home, right?</p>

</body>

</html>