<html>

<head>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <div>
        <hr>
        <h1>
            Login
        </h1>
        <hr>
        <%- include('partial/navigation_bar.ejs') %>
        <h2>Enter user name and password</h2>
        <form>
            <label for="name">
                User name
            </label><br>
            <input type="text" id="name"><br>
            <label for="password">
                Password
            </label><br>
            <input type="text" id='password'><br>
            <input type="submit" value="Login">
        </form>
    </div>

</body>

</html>