body {
    background-color: grey;
    font-family: 'arial';
}

div {
    background-color: rgb(70, 70, 70);
    padding: 0.5% 2%;
}

div.post {
    background-color: rgb(71, 71, 71);
    padding: 0.5% 2%;
    text-align: center;
}

div.list {
    background-color: rgb(109, 109, 109);
    padding: 0.5% 2%;
    text-align: center;
}

div.navBar {
    background-color: rgb(148, 148, 148);
    padding: 0px;
    text-align: center;
}

form {
    text-align: center;
}

h1 {
    font-size: 35px;
    word-spacing: 2px;
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 20px;
    word-spacing: 2px;
    color: #fff;
    text-align: center;
}

p {
    font-size: 16px;
    color: #fff;
    text-align: left;
}

li {
    width: 100%;
    padding: 5px;
    color: #fff;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    letter-spacing: 1px;
}

li:hover {
    text-decoration: line-through;
    background: rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}