<nav>
    <div class="navBar">
        <ul>
            <button type="button"><a href="profile">Profile</a></button>
            <button type="button"><a href="home">home</a></button>
            <button type="button"><a href="Login">Login</a></button>
            <button type="button"><a href="Signup">Signup</a></button>
        </ul>
    </div>
</nav>